
# You can create file by using vim /etc/systemd/system/cart.service
# /etc/systemd/system/cart.service
[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.dev.sseedarla.site
Environment=CATALOGUE_HOST=catalogue.dev.sseedarla.site
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
