[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=http://35.153.74.2/
Environment=CATALOGUE_HOST=http://35.153.74.2/
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
