
# You can create file by using vim /etc/systemd/system/catalogue.service

# Ensure you replace <MONGODB-SERVER-IPADDRESS> with IP address


[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb-dev.sseedarla.site:27017/catalogue"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target

