# Hint! You can create file by using vim /etc/systemd/system/dispatch.service

[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=http://rabbitmq-dev.sseedarla.site
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target
