[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=35.153.74.2
Environment=CART_PORT=8080
Environment=USER_HOST=35.153.74.2
Environment=USER_PORT=8080
Environment=AMQP_HOST=35.153.74.2
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=rabbit_appuser_password

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
