[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=http://35.153.74.2/:8080
Environment=DB_HOST=http://35.153.74.2/
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
