
[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=http://redis-dev.sseedarla.site/
Environment=MONGO_URL="mongodb://mongodb-dev.sseedarla.site:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target
